#URLs for services (needed for SSL through Let's encrypt)

LORASERVER_URL=loraserver.my.domain.com
GRAFANA_URL=grafana.my.domain.com
MOCKUPREST_URL=rest.my.domain.com
MQTT_URL=mqtt.my.domain.com

LE_EMAIL=me@my.domain.com


#LORAWAN SERVER

#VerneMQ:
DOCKER_VERNEMQ_USER_MQTT=secretpassword
MQTT_USERNAME=mqtt
MQTT_PASSWORD=<secretpassword>
MQTT_SERVER_URL=mqtt
MQTT_SERVER_PORT=1883

#TTN
TTN_MQTT_USERNAME="<my username>@ttn"
TTN_MQTT_PASSWORD="NNSXS.<bunch of letters you get from ttn console>"
TTN_MQTT_SERVER_URL="eu1.cloud.thethings.network"
TTN_MQTT_SERVER_PORT=8883

#InfluxDB --- only if you  use InfluxDB (disabled by default in current version)
INFLUXDB_DB=some_name
INFLUXDB_ADMIN_ENABLED=true
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=<supersecretpassword>
INFLUXDB_USER=afarcloud

#Postgres
POSTGRES_PASSWORD=<supersecretpassword>

#There seems to be a bug in the image - can't change the user to anything else than postgres
POSTGRES_USER=postgres
POSTGRES_URL=postgis
POSTGRES_DB_NAME=<some_name>
